@page
@model ITour.Pages.AppUsers.Managers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manager.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manager.Person.SurnameInitials)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager.Person.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manager.Person.ApplicationUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager.AgencyOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manager.AgencyOffice.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manager.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
