@page
@model ITour.Pages.AppUsers.Customers.IndexModel

@{
    ViewData["Title"] = "Заказчики";
}

<h3>
    Заказчики
    <small>
        @*<a class="btn btn-default" asp-page="Create"><span class="glyphicon glyphicon-plus"></span> Создать</a>*@
        <a class="btn btn-default" asp-page="CreateAsPerson"><span class="glyphicon glyphicon-plus"></span> Физ лицо</a>
        <a class="btn btn-default" asp-page="CreateAsCompany"><span class="glyphicon glyphicon-plus"></span> Юр лицо</a>
        <a data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span class="glyphicon glyphicon-filter"></span> Фильтр
        </a>
    </small>
</h3>
@{
    string inStr = Model.CustomerFilter.NotAllParamsIsNull ? "in" : "";
}
<div class="collapse @inStr" id="collapseFilter">
    <div class="card card-body">
        <form asp-page="./Index" method="get" id="filterForm">
            <div class="form-actions ">
                <div class="row">
                    <div class="form-group col col-md-2">
                        <label>Заказчик</label>
                        <input asp-for="CustomerFilter.CustomerName" class="form-control col-md-3" />
                    </div>
                    <div class="form-group col col-md-2">
                        <label>Телефон</label>
                        <input asp-for="CustomerFilter.PhoneNumber" class="form-control col-md-3" />
                    </div>
                    <div class="form-group col col-md-2">
                        <label>Email</label>
                        <input asp-for="CustomerFilter.Email" class="form-control col-md-3" />
                    </div>                    
                    <div class="form-group col col-md-2">
                        <label>Менеджер</label>
                        <select asp-for="CustomerFilter.ManagerId" class="form-control col-md-3" asp-items="@ViewBag.FilterManagerId">
                            <option value="">--- Все ---</option>
                        </select>
                    </div>
                    <div class="form-group col col-md-2 align-self-center">
                        <br />
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Искать</button> |
                        <a asp-page="./Index">Сбросить</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@{
    Dictionary<string, string> AllRouteData = new Dictionary<string, string>()
{
{"CustomerFilter.CustomerName", Model.CustomerFilter?.CustomerName?.ToString() },
{"CustomerFilter.PhoneNumber", Model.CustomerFilter?.PhoneNumber?.ToString() },
{"CustomerFilter.Email", Model.CustomerFilter?.Email?.ToString() },
{"CustomerFilter.ManagerId", Model.CustomerFilter?.ManagerId?.ToString() },
{"CustomerPaginate.PageSize", Model.CustomerPaginate?.PageSize.ToString() }
};
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Person.ApplicationUser.Email)
            </th>
            <th>
                Телефон
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.ApplicationUser.Email)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.Person.ApplicationUser.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCompany.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name)
                </td>
                <td nowrap>
                    <a class="btn btn-default"  asp-page="./Edit" asp-route-id="@item.Id" title="Изменить"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-default"  asp-page="./Details" asp-route-id="@item.Id" title="Детали"><span class="glyphicon glyphicon-info-sign"></span></a>
                    <a class="btn btn-default"  asp-page="./Delete" asp-route-id="@item.Id" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    string prevDisabled = !Model.CustomerPaginate.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.CustomerPaginate.HasNextPage ? "disabled" : "";
}

<div class="row">
    <table class="col-md-8">
        <tr>
            <td align="center">
                <ul class="pagination">
                    <li class="page-item @prevDisabled" title="Первая">
                        @{Dictionary<string, string> FirstAllRouteData = new Dictionary<string, string>(AllRouteData) { { "CustomerPaginate.PageNumber", (1).ToString() } }; }
                        <a asp-page="./Index" asp-all-route-data="FirstAllRouteData"><span class="glyphicon glyphicon-step-backward"></span></a>
                    </li>
                    <li class="page-item @prevDisabled" title="Предыдущая">
                        @{Dictionary<string, string> PrevAllRouteData = new Dictionary<string, string>(AllRouteData) { { "CustomerPaginate.PageNumber", (Model.CustomerPaginate.PageNumber - 1).ToString() } };}
                        <a asp-page="./Index" asp-all-route-data="PrevAllRouteData"><span class="glyphicon glyphicon-triangle-left"></span></a>
                    </li>
                    <li class="page-item @nextDisabled" title="Следующая">
                        @{Dictionary<string, string> NextAllRouteData = new Dictionary<string, string>(AllRouteData) { { "CustomerPaginate.PageNumber", (Model.CustomerPaginate.PageNumber + 1).ToString() } }; }
                        <a asp-page="./Index" asp-all-route-data="NextAllRouteData"><span class="glyphicon glyphicon-triangle-right"></span></a>
                    </li>
                    <li class="page-item @nextDisabled" title="Последняя">
                        @{Dictionary<string, string> LastAllRouteData = new Dictionary<string, string>(AllRouteData) { { "CustomerPaginate.PageNumber", (Model.CustomerPaginate.TotalPages).ToString() } }; }
                        <a asp-page="./Index" asp-all-route-data="LastAllRouteData"><span class="glyphicon glyphicon-step-forward"></span></a>
                    </li>
                </ul>
            </td>
            <td align="center">
                Страница @Model.CustomerPaginate.PageNumber из @Model.CustomerPaginate.TotalPages
            </td>
            <td align="center">По&nbsp;</td>
            <td align="center"><select class="form-control" asp-for="@Model.CustomerPaginate.PageSize" form="filterForm" asp-items="@ViewBag.PageSize" onchange="this.form.submit();"></select></td>
            <td align="center">&nbsp;строк</td>
            <td align="center">Всего @Model.CustomerPaginate.Count записей</td>
        </tr>
    </table>
</div>
