@page
@model ITour.Pages.Admin.Orders.OrderStatuses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.TenantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus.TenantId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.Sequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus.Sequence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.IsSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus.IsSystem)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrderStatus.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
