@page
@model ITour.Pages.AppCompanies.Companies.InsuranceCompanies.IndexModel

@{
    ViewData["Title"] = "Страховые компании";
}

<h3>
    Страховые компании
    <small>
        <a class="btn btn-default" asp-page="Create"><span class="glyphicon glyphicon-plus"></span> Создать</a>
    </small>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany[0].Name)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany[0].Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InsuranceCompany)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
