@page
@model ITour.Pages.AppCompanies.TouroperatorBrands.AttachModel

@{
    ViewData["Title"] = "Прикрепить Юр. лица к Бренду";
}

<h3>Прикрепить Юр. лица к Бренду</h3>

<form asp-page="./Attach" method="get" id="filterForm">
    <div class="form-actions no-color row">
        <div class="form-group col-md-3">
            <label asp-for="TouroperatorBrand.Name" class="control-label"></label>
            <input asp-for="TouroperatorBrand.Name" class="form-control" readonly />
            <input type="hidden" asp-for="TouroperatorBrand.Id" />
        </div>
        <div class="form-group col col-md-3">
            <label>Реестровый № или название</label>
            <input asp-for="TouroperatorCompanyFilter.RagistryNumberName" class="form-control col-md-3" />
        </div>
        <div class="form-group col-md-3">
            <br>
            <button type="submit" value="Поиск" class="btn btn-default"><i class="glyphicon glyphicon-filter"></i> Фильтр</button> |
            <a asp-page="./Attach" asp-route-touroperatorBrandId="@Model.TouroperatorBrand?.Id">Сбросить фильтр</a>
        </div>
    </div>
</form>

@{
    Dictionary<string, string> AllRouteData = new Dictionary<string, string>()
{
{"TouroperatorBrand.Id", Model.TouroperatorBrand.Id.ToString()},
{"TouroperatorBrand.Name", Model.TouroperatorBrand.Name.ToString()},
{"TouroperatorCompanyFilter.RagistryNumberName", Model.TouroperatorCompanyFilter.RagistryNumberName},
{"TouroperatorCompanyPaginate.PageSize", Model.TouroperatorCompanyPaginate.PageSize.ToString() },
{"TouroperatorCompanySort.SortState", Model.TouroperatorCompanySort.SortState.ToString() }
};
    string glyphicon_triangle = "";
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TouroperatorCompany[0].TouroperatorBrands)
            </th>
            <th nowrap>
                @{Dictionary<string, string> NameAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanySort.SortOrder", Model.TouroperatorCompanySort.NameSort.ToString() } }; }
                @if (Model.TouroperatorCompanySort.SortState == TouroperatorCompanySortState.NameAsc) { glyphicon_triangle = "glyphicon-triangle-top"; }
                @if (Model.TouroperatorCompanySort.SortState == TouroperatorCompanySortState.NameDesc) { glyphicon_triangle = "glyphicon-triangle-bottom"; }
                <a asp-page="./Attach" asp-all-route-data="@NameAllRouteData" class="sort-link">
                    <span class="glyphicon @glyphicon_triangle"></span> @{glyphicon_triangle = ""; }
                    @Html.DisplayNameFor(model => model.TouroperatorCompany[0].Name)
                </a>
            </th>
            <th nowrap>
                @{Dictionary<string, string> RegistryNumberAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanySort.SortOrder", Model.TouroperatorCompanySort.RegistryNumberSort.ToString() } }; }
                @if (Model.TouroperatorCompanySort.SortState == TouroperatorCompanySortState.RegistryNumberAsc) { glyphicon_triangle = "glyphicon-triangle-top"; }
                @if (Model.TouroperatorCompanySort.SortState == TouroperatorCompanySortState.RegistryNumberDesc) { glyphicon_triangle = "glyphicon-triangle-bottom"; }
                <a asp-page="./Attach" asp-all-route-data="@RegistryNumberAllRouteData" class="sort-link">
                    <span class="glyphicon @glyphicon_triangle"></span> @{glyphicon_triangle = ""; }
                    @Html.DisplayNameFor(model => model.TouroperatorCompany[0].RegistryNumber)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouroperatorCompany[0].FinGaranteeTotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouroperatorCompany[0].FinGaranteeAmountNewPeriod)
            </th>
            <th nowrap>
                @{Dictionary<string, string> FinGaranteeExpirationDateAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanySort.SortOrder", Model.TouroperatorCompanySort.FinGaranteeExpirationDateSort.ToString() } }; }
                @if (Model.TouroperatorCompanySort.SortState == TouroperatorCompanySortState.FinGaranteeExpirationDateAsc) { glyphicon_triangle = "glyphicon-triangle-top"; }
                @if (Model.TouroperatorCompanySort.SortState == TouroperatorCompanySortState.FinGaranteeExpirationDateDesc) { glyphicon_triangle = "glyphicon-triangle-bottom"; }
                <a asp-page="./Attach" asp-all-route-data="@FinGaranteeExpirationDateAllRouteData" class="sort-link">
                    <span class="glyphicon @glyphicon_triangle"></span> @{glyphicon_triangle = ""; }
                    @Html.DisplayNameFor(model => model.TouroperatorCompany[0].FinGaranteeExpirationDateNewPeriod)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouroperatorCompany[0].INN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouroperatorCompany[0].Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouroperatorCompany[0].Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TouroperatorCompany)
        {
            string invalidTr = !item.IsValid ? "warning" : "";
            string expiredTd = item.IsFinGaranteeDateNewPeriodExpired ? "warning" : "";
            string expiredDiv = item.IsFinGaranteeDateNewPeriodExpired ? "text-danger" : "";

            <tr class="@invalidTr">
                <td><input type="checkbox" name="touroperatorCompaniesId" value="@item.Id" form="attachForm"></td>
                <th>
                    @(item.TouroperatorBrands.Any() ? item.TouroperatorBrands[0]?.TouroperatorBrand.Name : "")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinGaranteeTotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinGaranteeAmountNewPeriod)
                </td>
                <td class="@expiredTd">
                    <div class="text-center @expiredDiv">@Html.DisplayFor(modelItem => item.FinGaranteeExpirationDateNewPeriodString)</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-page="./Attach" method="post" id="attachForm">
    <input type="hidden" name="touroperatorBrandId" value="@Model.TouroperatorBrand?.Id" />
    <div class="row">
        <div class="form-group col-md-4">
            <input type="submit" class="btn btn-default" asp-page-handler="Attach" value="Добавить к Туроператору" />
            <a asp-page="./Index">Список Туроператоров</a>
        </div>
    </div>
</form>

@{
    string prevDisabled = !Model.TouroperatorCompanyPaginate.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.TouroperatorCompanyPaginate.HasNextPage ? "disabled" : "";
}

<div class="row">
    <table class="col-md-8">
        <tr>
            <td align="center">
                <ul class="pagination">
                    <li class="page-item @prevDisabled" title="Первая">
                        @{Dictionary<string, string> FirstAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanyPaginate.PageNumber", (1).ToString() } }; }
                        <a asp-page="./Attach" asp-all-route-data="FirstAllRouteData"><span class="glyphicon glyphicon-step-backward"></span></a>
                    </li>
                    <li class="page-item @prevDisabled" title="Предыдущая">
                        @{Dictionary<string, string> PrevAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanyPaginate.PageNumber", (Model.TouroperatorCompanyPaginate.PageNumber - 1).ToString() } };}
                        <a asp-page="./Attach" asp-all-route-data="PrevAllRouteData"><span class="glyphicon glyphicon-triangle-left"></span></a>
                    </li>
                    <li class="page-item @nextDisabled" title="Следующая">
                        @{Dictionary<string, string> NextAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanyPaginate.PageNumber", (Model.TouroperatorCompanyPaginate.PageNumber + 1).ToString() } }; }
                        <a asp-page="./Attach" asp-all-route-data="NextAllRouteData"><span class="glyphicon glyphicon-triangle-right"></span></a>
                    </li>
                    <li class="page-item @nextDisabled" title="Последняя">
                        @{Dictionary<string, string> LastAllRouteData = new Dictionary<string, string>(AllRouteData) { { "TouroperatorCompanyPaginate.PageNumber", (Model.TouroperatorCompanyPaginate.TotalPages).ToString() } }; }
                        <a asp-page="./Attach" asp-all-route-data="LastAllRouteData"><span class="glyphicon glyphicon-step-forward"></span></a>
                    </li>
                </ul>
            </td>
            <td align="center">
                Страница @Model.TouroperatorCompanyPaginate.PageNumber из @Model.TouroperatorCompanyPaginate.TotalPages
            </td>
            <td align="center">По&nbsp;</td>
            <td align="center"><select class="form-control" asp-for="@Model.TouroperatorCompanyPaginate.PageSize" form="filterForm" asp-items="@ViewBag.PageSize" onchange="this.form.submit();"></select></td>
            <td align="center">&nbsp;строк</td>
            <td align="center">Всего @Model.TouroperatorCompanyPaginate.Count записей</td>
        </tr>
    </table>
</div>