@page
@model ITour.Pages.AppUsers.People.DeleteModel

@{
    ViewData["Title"] = "Удалить Физ лицо";
}

<h3>Удалить Физ лицо</h3>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Middlename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Middlename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.IsEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.IsEmployee)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-page="./Index">Назад к списку</a>
    </form>
</div>
